AuthType Basic
AuthName "Orchestra Members Only"
#AuthUserFile /home/homevic/public_html/napierco/public_html/eso/protected/.htpasswd
require valid-user
#AuthUserFile "/home/essendon/.htpasswds/napierco/public_html/eso/protected/passwd"
AuthUserFile "/home/essendon/napierco/public_html/eso/protected/.htpasswd"
